version: '{branch} build {build}'
image: Visual Studio 2017

environment:
  APP_NAME: 漢字 kah Lô-má-jī

init:
  - ps: chcp
  - ps: echo "${env:APP_NAME}"
  - ps: chcp 65001
  - ps: echo "${env:APP_NAME}"

install:
  - ps: chcp
  - ps: echo "${env:APP_NAME}"
  # - ps: . cmd.bat # The build phase is set to "MSBuild" mode (default), but no Visual Studio project or solution files were found in the root directory. If you are not building Visual Studio project switch build mode to "Script" and provide your custom build command.
  - ps: chcp 65001
  - ps: echo "${env:APP_NAME}"
  # - ps: . cmd.bat # The build phase is set to "MSBuild" mode (default), but no Visual Studio project or solution files were found in the root directory. If you are not building Visual Studio project switch build mode to "Script" and provide your custom build command.

build:
  - ps: chcp
  - ps: echo "${env:APP_NAME}"
  # - ps: . cmd.bat # The build phase is set to "MSBuild" mode (default), but no Visual Studio project or solution files were found in the root directory. If you are not building Visual Studio project switch build mode to "Script" and provide your custom build command.
  - ps: chcp 65001
  - ps: echo "${env:APP_NAME}"
  # - ps: . cmd.bat # The build phase is set to "MSBuild" mode (default), but no Visual Studio project or solution files were found in the root directory. If you are not building Visual Studio project switch build mode to "Script" and provide your custom build command.
